/.env
/vendor/
/storage/imports/*
!/storage/imports/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/.phpunit.cache/
*.log

/huongDan/*
/scripts/*